html {
   position: relative;
   min-height: 100%;
}
body {
   margin-bottom: 170px;
}
.navbar {
height: 170px;
   bottom: 0;
   width: 100%;
text-align: centre;
color: aliceblue;
  }
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
 height: 170px;
}
.adminPanel{
 
   background-color: rgb(254, 255, 238);
   font-weight: bold;
   font-style: normal;
}